<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="mySection" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <mySection>
    <!--[key_CopySite] 需要读取源码的域名 -->
    <add key="key_CopySite" value="http://www.ovoboots.com"/>
    <!--[key_Skip_Site_Cur] 当前URL显示域名 -->
    <add key="key_Skip_Site_Cur" value="http://localhost:7485"/>
    <!--[key_Skip_Site] 最终跳转的域名 -->
    <add key="key_Skip_Site" value="http://www.eveboots.com"/>
    <!--[key_Skip] 程序直接强制进行跳转，类似于301，不显示任何内容。Value值: 0表示不开启，1表示开启。优先级最高：此功能开启，其他的跳转方式无效 -->
    <add key="key_Skip" value="0"/>
    <!--[key_Skip_JS] 脚本代码进行跳转，要起作用，先保证[key_Skip] 为0。Value值: 0表示不开启，1表示开启。优先级最高：此功能开启，其他的跳转方式无效 -->
    <add key="key_Skip_JS" value="1"/>
    <!--[key_Skip_JS_Type] 脚本代码进行跳转时，代码放置位置。.Value值: meta,head,body,footer 。当值为meta 时，需要设置跳转域名[key_Skip_Site]的值-->
    <add key="key_Skip_JS_Type" value="head"/>
  </mySection>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <authentication mode="Windows"/>
    <!--<customErrors mode="RemoteOnly"/>-->
    <httpModules>
      <add name="HttpCusModule" type="FBSystem.HttpCusModule"/>
    </httpModules>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="HttpCusModule" type="FBSystem.HttpCusModule"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="APISoap" maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000"/>-->

        <binding name="APISoap"
                 maxBufferPoolSize="655360000000"
                 maxBufferSize="655360000"
                 maxReceivedMessageSize="655360000000"
                 sendTimeout="00:02:00" transferMode="Streamed">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="655360000"
                        maxArrayLength="655360000"
                        maxBytesPerRead="655360000"
                        maxNameTableCharCount="655360000" />
          <security mode="None"/>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://page.vipbost.com/API.asmx" binding="basicHttpBinding"
                bindingConfiguration="APISoap" contract="MyPageCode.APISoap" name="APISoap"/>
    </client>
  </system.serviceModel>
</configuration>